#navBar {
    background-color: whitesmoke;
}

.container {
    background: whitesmoke;
    padding: 20px;
    box-shadow: -5px 0 15px black;
}
/* main {
    background: whitesmoke;
    padding: 20px;
    box-shadow: -10px 0 15px #4ca2aaf8;
    margin-top: 2px;
} */

#content {
    background-color: #f0fbf8;
    border: 2px solid #a5e1d9;
    border-radius: 10px;
    padding: 15px;
}

.col-2 img {
    padding-left: 0px;
}

#moreLinks {
    padding-top: 55px;
}

img {
    padding: 5px;
}

ul {
    font-weight: bold;
    color: #3e53a2;
    list-style-type: none;
}

#title {
    color: #3e53a2;
    font-weight: bold;
    text-align: left;
}

#subForums {
    margin-bottom: 10px;
    text-align: left;
    color: #333;
    width: 56.25em;
}

footer {
    color: black;
    background-color: whitesmoke;
    padding-top: 20px;
}
